.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 150px;
    background: greenyellow;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 16px;
    }

.card:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 100%;
    height: 175px;
    padding: 30;
    }